@theme {
  --color-primary: #1d1836;
  --color-secondary: #78716c;
  --color-tertiary: #fff8e3;
  --color-background: #ececea;
  --color-foreground: #000000;
  --color-base-content: #2d2b2a;
  --color-base-title: #44403b;
  --color-hero-background: #011642;
}
@layer base {
  @variant dark {
    --color-primary: #5877fa;
    --color-secondary: #dfd9ff;
    --color-tertiary: #151030;
    --color-background: #050816;
    --color-foreground: #fff;
    --color-base-content: #e7e5e4;
    --color-base-title: #fff;
  }
}
